
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myChartMenuLabel" data-translate="intelligentChartApp.chartMenu.home.createOrEditLabel">Create or edit a Chart Menu</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.chartMenu.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.chartMenu.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="intelligentChartApp.chartMenu.chart" for="field_chart">Chart</label>
            <select class="form-control" id="field_chart" name="chart" ng-model="vm.chartMenu.chart" ng-options="chart as chart.identifier for chart in vm.charts track by chart.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="intelligentChartApp.chartMenu.menu" for="field_menu">Menu</label>
            <select class="form-control" id="field_menu" name="menu" ng-model="vm.chartMenu.menu" ng-options="menu as menu.identifier for menu in vm.menus track by menu.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
