
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPersonAreaPercentageLabel" data-translate="intelligentChartApp.personAreaPercentage.home.createOrEditLabel">Create or edit a Person Area Percentage</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.personAreaPercentage.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.personAreaPercentage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.personAreaPercentage.percentage" for="field_percentage">Percentage</label>
            <input type="number" class="form-control" name="percentage" id="field_percentage"
                    ng-model="vm.personAreaPercentage.percentage"
                     />
        </div>

        <div class="form-group">
            <label data-translate="intelligentChartApp.personAreaPercentage.person" for="field_person">Person</label>
            <!--<ui-select ng-model="vm.personAreaPercentage.person"-->
                       <!--theme="bootstrap"-->
                       <!--reset-search-input="false"-->
                       <!--title="选择影视人">-->
                <!--<ui-select-match placeholder="选择影视人">{{$select.selected.name}}</ui-select-match>-->
                <!--<ui-select-choices repeat="user.id as user in vm.people">-->
                    <!--<div ng-bind-html="person.name | highlight: $select.search"></div>-->
                <!--</ui-select-choices>-->
            <!--</ui-select>-->
            <!--<select class="form-control" id="field_person" name="person" ng-model="vm.personAreaPercentage.person" ng-options="person as person.name for person in vm.people track by person.id">-->
                <!--<option value=""></option>-->
            <!--</select>-->

            <ui-select ng-model="vm.personAreaPercentage.person">
                <ui-select-match>
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="item in (vm.people | filter: $select.search) track by item.id">
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label data-translate="intelligentChartApp.personAreaPercentage.mediaType" for="field_mediaType">Media Type</label>
            <select class="form-control" id="field_mediaType" name="mediaType" ng-model="vm.personAreaPercentage.mediaType" ng-options="mediaType as mediaType.name for mediaType in vm.mediatypes track by mediaType.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="intelligentChartApp.personAreaPercentage.areaType" for="field_areaType">Area Type</label>
            <select class="form-control" id="field_areaType" name="areaType" ng-model="vm.personAreaPercentage.areaType" ng-options="areaType as areaType.name for areaType in vm.areatypes track by areaType.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
