<div>
    <h2 data-translate="intelligentChartApp.doubleMovieSubject.home.title">Double Movie Subjects</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="double-movie-subject.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="intelligentChartApp.doubleMovieSubject.home.createLabel">
                        Create new Double Movie Subject
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="intelligentChartApp.doubleMovieSubject.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="url"><span data-translate="intelligentChartApp.doubleMovieSubject.url">Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cover"><span data-translate="intelligentChartApp.doubleMovieSubject.cover">Cover</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rate"><span data-translate="intelligentChartApp.doubleMovieSubject.rate">Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="doubanId"><span data-translate="intelligentChartApp.doubleMovieSubject.doubanId">Douban Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doubleMovieSubject in vm.doubleMovieSubjects track by doubleMovieSubject.id">
                    <td><a ui-sref="double-movie-subject-detail({id:doubleMovieSubject.id})">{{doubleMovieSubject.id}}</a></td>
                    <td>{{doubleMovieSubject.title}}</td>
                    <td>{{doubleMovieSubject.url}}</td>
                    <td>{{doubleMovieSubject.cover}}</td>
                    <td>{{doubleMovieSubject.rate}}</td>
                    <td>{{doubleMovieSubject.doubanId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="double-movie-subject-detail({id:doubleMovieSubject.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="double-movie-subject.edit({id:doubleMovieSubject.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="double-movie-subject.delete({id:doubleMovieSubject.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
