
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPersonLabel" data-translate="intelligentChartApp.person.home.createOrEditLabel">Create or edit a Person</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.person.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.person.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.person.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.person.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.person.sex" for="field_sex">Sex</label>
            <select name="sex" class="form-control" id="field_sex" ng-model="vm.person.sex">
                <option value="男">男</option>
                <option value="女">女</option>
                <option value="未知">未知</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.person.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.person.age"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.person.birthday" for="field_birthday">Birthday</label>
                <div class="input-group">
                    <input id="field_birthday" type="text" class="form-control" name="birthday" uib-datepicker-popup="{{dateformat}}" ng-model="vm.person.birthday" is-open="vm.datePickerOpenStatus.birthday"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthday')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.person.birthplace" for="field_birthplace">Birthplace</label>
            <input type="text" class="form-control" name="birthplace" id="field_birthplace"
                    ng-model="vm.person.birthplace"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.person.politicRole" for="field_politicRole">Politic Role</label>
            <select name="politicRole" class="form-control" id="field_politicRole" ng-model="vm.person.politicRole">
                <option value="群众">群众</option>
                <option value="团员">团员</option>
                <option value="党员">党员</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="intelligentChartApp.person.supportTaiwanIndepence" for="field_supportTaiwanIndepence">Support Taiwan Indepence</label>
            <input type="checkbox" class="magic-checkbox" name="supportTaiwanIndepence" id="field_supportTaiwanIndepence" ng-model="vm.person.supportTaiwanIndepence" />
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.person.detailDescription" for="field_detail">Detail</label>
            <textarea type="text" class="form-control" name="detail" id="field_detail" ng-model="vm.person.detail"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.person.avatar" for="field_avatar">Avatar</label>
            <input type="text" class="form-control" name="avatar" id="field_avatar"
                    ng-model="vm.person.avatar"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.person.popularity" for="field_popularity">Popularity</label>
            <input type="number" class="form-control" name="popularity" id="field_popularity"
                    ng-model="vm.person.popularity"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.person.socialGoodName" for="field_socialGoodName">Social Good Name</label>
            <input type="text" class="form-control" name="socialGoodName" id="field_socialGoodName"
                    ng-model="vm.person.socialGoodName"
                     />
        </div>

        <div class="form-group">
            <label data-translate="intelligentChartApp.person.job" for="field_job">Job</label>
            <select class="form-control" id="field_job" multiple name="job" ng-model="vm.person.jobs" ng-options="job as job.name for job in vm.jobs track by job.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
