<div>

    <div class="col-md-6">
        <div class="panel">
            <div class="text-center pad-all bord-btm">
                <div class="pad-ver">
                    <img src="{{vm.person.avatar || 'content/images/default-avatar.png'}}"
                         class="img-lg img-border img-circle" alt="Profile Picture">
                </div>
                <h4 class="text-lg text-overflow mar-no">{{vm.person.name}}</h4>
                <p class="text-sm text-muted">
                        <span ng-repeat="job in vm.person.jobs">
                            <a ui-sref="job-detail({id: job.id})">{{job.name}}</a>{{$last ? '' : ', '}}
                        </span>
                </p>
            </div>
            <p class="text-semibold text-main pad-all mar-no">详细介绍</p>
            <ul class="list-group bg-trans text-sm">

                <!-- Profile Details -->
                <li class="list-group-item list-item-sm">
                    <i class="glyphicon glyphicon-glass"></i> {{vm.person.birthplace}}
                </li>
                <li class="list-group-item list-item-sm">
                    <i class="glyphicon glyphicon-calendar"></i> {{vm.person.birthday | date:'mediumDate'}}
                </li>
            </ul>
            <div class="pad-hor mar-btm">
                <small class="text-muted">{{vm.person.detail}}</small>
            </div>

            <hr>
            <a ui-sref="person-experience({person_id:vm.person.id})"
               class="text-semibold text-main pad-all mar-no"><span class="hidden-xs hidden-sm"
                                                                    data-translate="global.menu.entities.personExperience"></span></a>


            <div class="panel-body">

                <div class="timeline">

                    <div class="timeline-header">
                        <div class="timeline-header-title bg-pink">
                            现在
                        </div>
                    </div>
                    <div class="timeline-entry" ng-repeat="exp in experiences | orderBy: 'expYear'">
                        <div class="timeline-stat">

                            <div class="timeline-icon">
                                <img src="{{vm.person.avatar || 'content/images/default-avatar.png'}}"
                                     alt="Profile Picture">
                            </div>
                            <div class="timeline-time">
                                {{exp.expYear}}
                            </div>
                        </div>
                        <div class="timeline-label">{{exp.description}}</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <button ui-sref="person-education-background({person_id:vm.person.id})"
                        class="btn text-bold btn-block">
                    <span class="glyphicon glyphicon-adjust"></span>
                    <span class="hidden-xs hidden-sm"
                          data-translate="global.menu.entities.personEducationBackground"></span>
                </button>
            </div>
            <div class="panel-body">

                <div ng-repeat="(key, value) in personEducationBackgrounds | groupBy: 'educationBackgroundType.name'">

                    <div class="fixed-fluid text-center bg-info" style="padding: 0.5em; font-size: small">
                        <strong>{{key}}</strong>
                    </div>

                    <div class="table-responsive">
                        <table class="jh-table table table-striped">
                            <tbody>
                            <tr class="text-center" ng-repeat="personEducationBackground in value track by $index">

                                <td>{{personEducationBackground.startDate | date:'mediumDate'}}</td>
                                <td ng-if="personEducationBackground.endDate">至</td>
                                <td>{{personEducationBackground.endDate | date:'mediumDate'}}</td>
                                <td><strong>{{personEducationBackground.description}}</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- 法务-->
        <div class="panel media middle" ng-repeat="lb in lawBusinesses">
            <div class="media-left bg-primary pad-all">
                <div style="width: 48px; height: 48px">
                    <b>{{lb.lawBusinessType.name}}</b>
                </div>
            </div>
            <div class="media-body pad-lft">
                <p class="text-muted mar-no">{{lb.descriptions}}</p>
            </div>
        </div>

        <!-- 获奖记录 -->
        <div class="panel">
            <div class="panel-heading">
                <button ui-sref="person-prize({person_id:vm.person.id})" class="btn text-bold btn-block ">
                    <span class="glyphicon glyphicon-book"></span>
                    <span class="hidden-xs hidden-sm" data-translate="global.menu.entities.personPrize"></span>
                </button>
            </div>
            <div class="panel-body">

                <div ng-repeat="(key, subPrizes) in prizes">

                    <h4>
                        <strong>{{key}}</strong>
                    </h4>

                    <div ng-repeat="(group, element) in subPrizes | groupBy: 'prizeGroup.name'">

                        <div class="fixed-fluid text-center bg-info" style="padding: 0.5em; font-size: small">
                            <strong>{{group}}</strong>
                        </div>

                        <div class="table-responsive">
                            <table class="jh-table table table-striped">
                                <tbody>
                                <tr class="text-center" ng-repeat="sp in subPrizes track by $index">

                                    <td>{{sp.prizeDate | date:'mediumDate'}}</td>
                                    <td>{{sp.name}}</td>
                                    <td><strong>{{sp.prizeLevel.name}}</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- 信用记录 -->
        <!--<div class="col-md-4">-->

        <div class="panel">
            <div class="panel-heading">
                <button ui-sref="person-credit-card-activity({person_id:vm.person.id})"
                        class="btn text-bold btn-block ">
                    <span class="glyphicon glyphicon-credit-card"></span>
                    <span class="hidden-xs hidden-sm"
                          data-translate="global.menu.entities.personCreditCardActivity"></span>
                </button>
            </div>
            <div class="panel-body">

                <div class="timeline">

                    <div class="timeline-entry" ng-repeat="cca in creditCardActivities | orderBy: 'createDate'">
                        <div class="timeline-stat">

                            <div class="timeline-icon">
                                <img src="{{vm.person.avatar || 'content/images/default-avatar.png'}}"
                                     alt="Profile Picture">
                            </div>
                            <div class="timeline-time">
                                {{cca.createDate}}
                            </div>
                        </div>
                        <div class="timeline-label">
                            <small>{{cca.creditCardActivityType.name}}</small>
                            <b>{{cca.amount}}</b>元
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- 网络借贷记录-->
        <div class="panel">
            <div class="panel-heading">
                <button ui-sref="person-network-debit({person_id:vm.person.id})" class="btn text-bold btn-block ">
                    <span class="glyphicon glyphicon-dashboard"></span>
                    <span class="hidden-xs hidden-sm" data-translate="global.menu.entities.personNetworkDebit"></span>
                </button>
            </div>
            <div class="panel-body">

                <div class="timeline">

                    <div class="timeline-entry" ng-repeat="debits in networkDebits | orderBy: 'createDate'">
                        <div class="timeline-stat">

                            <div class="timeline-icon">
                                <img src="{{vm.person.avatar || 'content/images/default-avatar.png'}}"
                                     alt="Profile Picture">
                            </div>
                            <div class="timeline-time">
                                {{debits.createDate}}
                            </div>
                        </div>
                        <div class="timeline-label">
                            <small>借贷</small>
                            <b>{{debits.amount}}</b>元
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel media middle panel-colorful panel-{{attributes[0].socialMediaType.style}}"
             ng-repeat="(socialMediaTypeName, attributes) in socialMediaAttributes">
            <div class="media-left pad-all">
                <div style="width: 48px; height: 48px" class="text-lg">
                    <b>{{socialMediaTypeName}}</b>
                </div>
            </div>
            <div class="media-body">

                <div ng-repeat="attribute in attributes" class="col-md-6">
                    <p class="text-lg mar-no text-bold">{{attribute.socialMediaAttributeName.name}}</p>
                    <p class="mar-no">{{attribute.attributeValue}}</p>
                </div>

            </div>
        </div>

        <!-- 违章记录 -->
        <div ng-repeat="endorsement in endorsements">

            <div class="panel">

                <div class="panel-heading">
                    <button ui-sref="person-endorsement({person_id:vm.person.id})"
                            class="btn text-bold btn-block">
                        <span class="glyphicon glyphicon-flag"></span>
                        <span class="hidden-xs hidden-sm"
                              data-translate="global.menu.entities.personEndorsement"></span>
                    </button>
                </div>
                <div class="panel-body">

                    <div class="list-group row">
                        <div class="list-group-item col-md-3 disabled">序号</div>
                        <div class="list-group-item col-md-3">{{endorsement.seqNumber}}</div>
                        <div class="list-group-item col-md-3 disabled">金额</div>
                        <div class="list-group-item col-md-3">{{endorsement.paidAmount}}</div>

                    </div>
                    <div class="list-group row">
                        <div class="list-group-item col-md-3 disabled">时间</div>
                        <div class="list-group-item col-md-9">{{endorsement.createDate | date:'medium'}}</div>

                    </div>
                    <div class="list-group row">
                        <div class="list-group-item col-md-3 disabled">地址</div>
                        <div class="list-group-item col-md-9">{{endorsement.address}}</div>

                    </div>
                    <div class="list-group row">
                        <div class="list-group-item col-md-3 disabled">行为</div>
                        <div class="list-group-item col-md-9">{{endorsement.behaviorDescription}}</div>

                    </div>
                </div>

            </div>
        </div>

        <!-- 打车记录  taxiActivities -->
        <div class="panel">

            <div class="panel-heading">
                <button ui-sref="person-taxi-activity({person_id:vm.person.id})"
                        class="btn text-bold btn-block">
                    <span class="glyphicon glyphicon-flag"></span>
                    <span class="hidden-xs hidden-sm"
                          data-translate="global.menu.entities.personTaxiActivity"></span>
                </button>
            </div>
            <div class="panel-body">

                <div ng-repeat="activity in taxiActivities" style="margin-top: 5px">

                    <b class="text-3x col-md-3">
                        ￥{{activity.paidAmount}}
                    </b>
                    <div class="col-md-8 col-md-offset-1">
                        <small>{{activity.createDate | date :'medium'}}</small>
                        <ul>
                            <li><b>{{activity.startPlace}}</b></li>
                            <li><b>{{activity.destination}}</b></li>
                        </ul>
                    </div>

                    <label class="label-mint col-md-12"></label>
                </div>
            </div>

        </div>

        <!-- dynamic ends -->
        <!--</div>-->
    </div>

    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <button ui-sref="person-word-cloud({person_id:vm.person.id})"
                        class="btn text-bold btn-block">
                    <span class="glyphicon glyphicon-blackboard"></span>
                    <span class="hidden-xs hidden-sm" data-translate="global.menu.entities.personWordCloud"></span>
                </button>
            </div>
            <div class="panel-body">

                <div id="wordsCloud">
                    <word-cloud words="words" width="wordCloud.width" height="wordCloud.height">
                    </word-cloud>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="panel">
            <div class="panel-heading">

                <a ui-sref="person-popularity({person_id:vm.person.id})"
                   class="btn btn-block text-bold">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="hidden-xs hidden-sm" data-translate="global.menu.entities.personPopularity"></span>
                </a>

            </div>
            <div class="panel-body">
                <pie-chart config="popularityConfig" data="popularityData"></pie-chart>
            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <button type="submit"
                        ui-sref="person-innovation({person_id:vm.person.id})"
                        class="btn text-bold btn-block ">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="hidden-xs hidden-sm" data-translate="global.menu.entities.personInnovation"></span>
                </button>
            </div>
            <div class="panel-body">
                <radar-chart config="innovationConfig" data="innovationData"></radar-chart>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="panel">
            <div class="panel-heading">
                <button ui-sref="person-connection-level({person_id:vm.person.id})"
                        class="btn text-bold btn-block">
                    <span class="glyphicon glyphicon-adjust"></span>
                    <span class="hidden-xs hidden-sm"
                          data-translate="global.menu.entities.personConnectionLevel"></span>
                </button>
            </div>
            <div class="panel-body">

                <bar-chart config="connectionLevelConfig" data="connectionLevelData"></bar-chart>

            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="panel">
            <div class="panel-heading">
                <button type="submit"
                        ui-sref="person-area-percentage({person_id:vm.person.id})"
                        class="btn text-bold btn-block ">
                    <span class="glyphicon glyphicon-leaf"></span>
                    <span class="hidden-xs hidden-sm"
                          data-translate="global.menu.entities.personAreaPercentageCinema"></span>
                </button>
            </div>
            <div class="panel-body">

                <pie-chart config="areaConfig" data="areaData"></pie-chart>

            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="panel">
            <div class="panel-heading">
                <button type="submit"
                        ui-sref="person-area-percentage({person_id:vm.person.id})"
                        class="btn text-bold btn-block ">
                    <span class="glyphicon glyphicon-leaf"></span>
                    <span class="hidden-xs hidden-sm"
                          data-translate="global.menu.entities.personAreaPercentageNewMedia"></span>
                </button>
            </div>
            <div class="panel-body">

                <pie-chart config="areaNewMediaConfig" data="areaNewMediaData"></pie-chart>

            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <button ui-sref="person-region-connection({person_id:vm.person.id})"
                        class="btn text-bold btn-block">
                    <span class="glyphicon glyphicon-gift"></span>
                    <span class="hidden-xs hidden-sm"
                          data-translate="global.menu.entities.personRegionConnection"></span>
                </button>
            </div>
            <div class="panel-body">

                <map-chart config="connectionRegionConfig" data="connectionRegionData"></map-chart>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <button ui-sref="person-network-shopping({person_id:vm.person.id})"
                        class="btn text-bold btn-block">
                    <span class="glyphicon glyphicon-earphone"></span>
                    <span class="hidden-xs hidden-sm"
                          data-translate="global.menu.entities.personOutcomeNetworkShopping"></span>
                </button>
            </div>
            <div class="panel-body">

                <pie-chart config="outcomeShoppingConfig" data="outcomeShoppingData"></pie-chart>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <button ui-sref="person-network-shopping({person_id:vm.person.id})"
                        class="btn text-bold btn-block">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                    <span class="hidden-xs hidden-sm"
                          data-translate="global.menu.entities.personIncomeNetworkShopping"></span>
                </button>
            </div>
            <div class="panel-body">

                <pie-chart config="incomeShoppingConfig" data="incomeShoppingData"></pie-chart>

            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="panel">
            <div class="panel-heading">
                <button ui-sref="person-network-texi-activity({person_id:vm.person.id})"
                        class="btn text-bold btn-block">
                    <span class="glyphicon glyphicon-bishop"></span>
                    <span class="hidden-xs hidden-sm"
                          data-translate="global.menu.entities.personNetworkTexiActivity"></span>
                </button>
            </div>
            <div class="panel-body">

                <bar-chart config="networkTaxiConfig" data="networkTexiData"></bar-chart>

            </div>
        </div>

    </div>
    <!--
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts图表
            var myChart = echarts.init(document.getElementById('main'));

            function createRandomItemStyle() {
                return {
                    normal: {
                        color: 'rgb(' + [
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160)
                        ].join(',') + ')'
                    }
                };
            }

            var option = {
                title: {
                    text: 'Google Trends',
                    link: 'http://www.google.com/trends/hottrends'
                },
                tooltip: {
                    show: true
                },
                series: [{
                    name: 'Google Trends',
                    type: 'wordCloud',
                    size: ['80%', '80%'],
                    textRotation : [0, 45, 90, -45],
                    textPadding: 0,
                    autoSize: {
                        enable: true,
                        minSize: 14
                    },
                    data: [
                        {
                            name: "Sam S Club",
                            value: 10000,
                            itemStyle: {
                                normal: {
                                    color: 'black'
                                }
                            }
                        },
                        {
                            name: "Macys",
                            value: 6181,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Amy Schumer",
                            value: 4386,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Jurassic World",
                            value: 4055,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Charter Communications",
                            value: 2467,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Chick Fil A",
                            value: 2244,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Planet Fitness",
                            value: 1898,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Pitch Perfect",
                            value: 1484,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Express",
                            value: 1112,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Home",
                            value: 965,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Johnny Depp",
                            value: 847,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Lena Dunham",
                            value: 582,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Lewis Hamilton",
                            value: 555,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "KXAN",
                            value: 550,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Mary Ellen Mark",
                            value: 462,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Farrah Abraham",
                            value: 366,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Rita Ora",
                            value: 360,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Serena Williams",
                            value: 282,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "NCAA baseball tournament",
                            value: 273,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "Point Break",
                            value: 265,
                            itemStyle: createRandomItemStyle()
                        }
                    ]
                }]
            };

            myChart.setOption(option);

        </script> -->
</div>
