<div class="panel">
    <div class="panel-body">
        <div>
            <h2 data-translate="intelligentChartApp.personCreditCardActivity.home.title">Person Credit Card Activities</h2>
            <jhi-alert></jhi-alert>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 no-padding-left">
                        <button class="btn btn-primary" ui-sref="person-credit-card-activity.new" >
                            <span class="glyphicon glyphicon-plus"></span>
                            <span  data-translate="intelligentChartApp.personCreditCardActivity.home.createLabel">
                        Create new Person Credit Card Activity
                    </span>
                        </button>
                    </div>
                </div>
            </div>
            <br/>
            <div class="table-responsive">
                <table class="jh-table table table-striped">
                    <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="amount"><span data-translate="intelligentChartApp.personCreditCardActivity.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="createDate"><span data-translate="intelligentChartApp.personCreditCardActivity.createDate">Create Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="person.name"><span data-translate="intelligentChartApp.personCreditCardActivity.person">Person</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="creditCardActivityType.name"><span data-translate="intelligentChartApp.personCreditCardActivity.creditCardActivityType">Credit Card Activity Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="personCreditCardActivity in vm.personCreditCardActivities track by personCreditCardActivity.id">
                        <td><a ui-sref="person-credit-card-activity-detail({id:personCreditCardActivity.id})">{{personCreditCardActivity.id}}</a></td>
                        <td>{{personCreditCardActivity.amount}}</td>
                        <td>{{personCreditCardActivity.createDate | date:'mediumDate'}}</td>
                        <td>
                            <a ui-sref="person-detail({id:personCreditCardActivity.person.id})">{{personCreditCardActivity.person.name}}</a>
                        </td>
                        <td>
                            <a ui-sref="credit-card-activity-type-detail({id:personCreditCardActivity.creditCardActivityType.id})">{{personCreditCardActivity.creditCardActivityType.name}}</a>
                        </td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        ui-sref="person-credit-card-activity-detail({id:personCreditCardActivity.id})"
                                        class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="person-credit-card-activity.edit({id:personCreditCardActivity.id})"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="person-credit-card-activity.delete({id:personCreditCardActivity.id})"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
            </div>
        </div>
    </div>
</div>
