
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMovieSuccessLogLabel" data-translate="intelligentChartApp.movieSuccessLog.home.createOrEditLabel">Create or edit a Movie Success Log</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.movieSuccessLog.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.movieSuccessLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.movieSuccessLog.movieId" for="field_movieId">Movie Id</label>
            <input type="number" class="form-control" name="movieId" id="field_movieId"
                    ng-model="vm.movieSuccessLog.movieId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.movieSuccessLog.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.movieSuccessLog.name"
                    ng-maxlength="255" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.movieSuccessLog.doubanId" for="field_doubanId">Douban Id</label>
            <input type="text" class="form-control" name="doubanId" id="field_doubanId"
                    ng-model="vm.movieSuccessLog.doubanId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.movieSuccessLog.createDate" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" datetime-picker="{{dateformat}}" ng-model="vm.movieSuccessLog.createDate" is-open="vm.datePickerOpenStatus.createDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
