<div class="panel">
    <div class="panel-body">
        <h2 data-translate="intelligentChartApp.personTaxiActivity.home.title">Person Taxi Activities</h2>
        <jhi-alert></jhi-alert>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
                    <button class="btn btn-primary" ui-sref="person-taxi-activity.new">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span data-translate="intelligentChartApp.personTaxiActivity.home.createLabel">
                        Create new Person Taxi Activity
                    </span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startPlace"><span
                            data-translate="intelligentChartApp.personTaxiActivity.startPlace">Start Place</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="destination"><span
                            data-translate="intelligentChartApp.personTaxiActivity.destination">Destination</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createDate"><span
                            data-translate="intelligentChartApp.personTaxiActivity.createDate">Create Date</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paidAmount"><span
                            data-translate="intelligentChartApp.personTaxiActivity.paidAmount">Paid Amount</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="person.name"><span data-translate="intelligentChartApp.personTaxiActivity.person">Person</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="personTaxiActivity in vm.personTaxiActivities track by personTaxiActivity.id">
                    <td>
                        <a ui-sref="person-taxi-activity-detail({id:personTaxiActivity.id})">{{personTaxiActivity.id}}</a>
                    </td>
                    <td>{{personTaxiActivity.startPlace}}</td>
                    <td>{{personTaxiActivity.destination}}</td>
                    <td>{{personTaxiActivity.createDate | date:'medium'}}</td>
                    <td>{{personTaxiActivity.paidAmount}}</td>
                    <td>
                        <a ui-sref="person-detail({id:personTaxiActivity.person.id})">{{personTaxiActivity.person.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="person-taxi-activity-detail({id:personTaxiActivity.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person-taxi-activity.edit({id:personTaxiActivity.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person-taxi-activity.delete({id:personTaxiActivity.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>