<div>
    <h2 data-translate="intelligentChartApp.chart.home.title">Charts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="chart.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="intelligentChartApp.chart.home.createLabel">
                        Create new Chart
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="identifier"><span data-translate="intelligentChartApp.chart.identifier">Identifier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="intelligentChartApp.chart.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataSourceSql"><span data-translate="intelligentChartApp.chart.dataSourceSql">Data Source Sql</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="titleSql"><span data-translate="intelligentChartApp.chart.titleSql">Title Sql</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="intelligentChartApp.chart.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="subtitle"><span data-translate="intelligentChartApp.chart.subtitle">Subtitle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="canvasTitle"><span data-translate="intelligentChartApp.chart.canvasTitle">Canvas Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="chart in vm.charts track by chart.id">
                    <td><a ui-sref="chart-detail({id:chart.id})">{{chart.id}}</a></td>
                    <td>{{chart.identifier}}</td>
                    <td>{{chart.type}}</td>
                    <td>{{chart.dataSourceSql}}</td>
                    <td>{{chart.titleSql}}</td>
                    <td>{{chart.title}}</td>
                    <td>{{chart.subtitle}}</td>
                    <td>{{chart.canvasTitle}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="chart-detail({id:chart.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chart.edit({id:chart.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chart.delete({id:chart.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
