<div class="panel">

    <div class="panel-body">
        <bar-chart config="config" data="data" ng-if="vm.chart.type == 'bar'"></bar-chart>
        <line-chart config="config" data="data" ng-if="vm.chart.type == 'line'"></line-chart>
        <area-chart config="config" data="data" ng-if="vm.chart.type == 'area'"></area-chart>
        <pie-chart config="config" data="data" ng-if="vm.chart.type == 'pie'"></pie-chart>
        <donut-chart config="config" data="data" ng-if="vm.chart.type == 'donut'"></donut-chart>
        <gauge-chart config="config" data="data" ng-if="vm.chart.type == 'gauge'"></gauge-chart>
        <radar-chart config="config" data="data" ng-if="vm.chart.type == 'radar'"></radar-chart>

    </div>
</div>
