<nav class="navbar navbar-default" role="navigation" style="border-bottom: 2px solid #9bb1c8; border-radius: 0px">
    <div class="container">
        <div>
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="" ng-click="vm.showSideBar()">
                <img class="logo-img " src="content/images/mingrule.png" alt="logo"/>
                <span data-translate="global.title">IntelligentChart</span>
                <!--<span class="navbar-version">{{VERSION}}</span>-->
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()" >
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer" has-authority="ROLE_ADMIN">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span class="text-info">
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="person" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.entities.person">Person</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-area-percentage" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-leaf"></span>&nbsp;
                                <span data-translate="global.menu.entities.personAreaPercentage">Person Area Percentage</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-education-background" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-adjust"></span>&nbsp;
                                <span data-translate="global.menu.entities.personEducationBackground">Person Education Background</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-prize" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.entities.personPrize">Person Prize</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-experience" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-baby-formula"></span>&nbsp;
                                <span data-translate="global.menu.entities.personExperience">Person Experience</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-popularity" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-comment"></span>&nbsp;
                                <span data-translate="global.menu.entities.personPopularity">Person Popularity</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-innovation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cog"></span>&nbsp;
                                <span data-translate="global.menu.entities.personInnovation">Person Innovation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-connection-level" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-facetime-video"></span>&nbsp;
                                <span data-translate="global.menu.entities.personConnectionLevel">Person Connection Level</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-region-connection" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-gift"></span>&nbsp;
                                <span data-translate="global.menu.entities.personRegionConnection">Person Region Connection</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-network-debit" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard "></span>&nbsp;
                                <span data-translate="global.menu.entities.personNetworkDebit">Person Network Debit</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-word-cloud" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-blackboard"></span>&nbsp;
                                <span data-translate="global.menu.entities.personWordCloud">Word Cloud</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-law-business" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lamp"></span>&nbsp;
                                <span data-translate="global.menu.entities.personLawBusiness">Person Law Business</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-credit-card-activity" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-credit-card"></span>&nbsp;
                                <span data-translate="global.menu.entities.personCreditCardActivity">Person Credit Card Activity</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li ui-sref-active="active">
                            <a ui-sref="menu-group" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-menu-left"></span>&nbsp;
                                <span data-translate="global.menu.entities.menuGroup">Menu Group</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="menu" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-apple"></span>&nbsp;
                                <span data-translate="global.menu.entities.menu">Menu</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="chart" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-phone"></span>&nbsp;
                                <span data-translate="global.menu.entities.chart">Chart</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="chart-menu" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-menu-hamburger "></span>&nbsp;
                                <span data-translate="global.menu.entities.chartMenu">Chart Menu</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="director" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.entities.director">Director</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="network-shopping-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;
                                <span data-translate="global.menu.entities.networkShoppingType">Network Shopping Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="person-network-shopping" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;
                                <span data-translate="global.menu.entities.personNetworkShopping">Person Network Shopping</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>

                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li ui-sref-active="active">
                            <a ui-sref="job" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-erase"></span>&nbsp;
                                <span data-translate="global.menu.entities.job">Job</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="media-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-film"></span>&nbsp;
                                <span data-translate="global.menu.entities.mediaType">Media Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="area-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-ruble"></span>&nbsp;
                                <span data-translate="global.menu.entities.areaType">Area Type</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="education-background-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.entities.educationBackgroundType">Education Background Type</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="prize-level" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-road"></span>&nbsp;
                                <span data-translate="global.menu.entities.prizeLevel">Prize Level</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="prize-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-subscript"></span>&nbsp;
                                <span data-translate="global.menu.entities.prizeType">Prize Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="prize-group" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-flash"></span>&nbsp;
                                <span data-translate="global.menu.entities.prizeGroup">Prize Group</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="popularity-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-inbox"></span>&nbsp;
                                <span data-translate="global.menu.entities.popularityType">Popularity Type</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="innovation-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-gbp"></span>&nbsp;
                                <span data-translate="global.menu.entities.innovationType">Innovation Type</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="connection-level" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-glass"></span>&nbsp;
                                <span data-translate="global.menu.entities.connectionLevel">Connection Level</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="region" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-fire"></span>&nbsp;
                                <span data-translate="global.menu.entities.region">Region</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="word-cloud" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-blackboard"></span>&nbsp;
                                <span data-translate="global.menu.entities.wordCloud">Word Cloud</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="law-business-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lamp"></span>&nbsp;
                                <span data-translate="global.menu.entities.lawBusinessType">Law Business Type</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="credit-card-activity-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-credit-card"></span>&nbsp;
                                <span data-translate="global.menu.entities.creditCardActivityType">Credit Card Activity Type</span>
                            </a>
                        </li>

                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
