
<div class="row center-block text-center">

    <a class="navbar-brand logo" href="">
        <img class="logo-img" src="content/images/mingrule.png" alt="logo"/>
        <span data-translate="global.title">IntelligentChart</span>
    </a>

</div>

<div class="container-fluid">

    <div class="row">
        <uib-accordion close-others="false" style="border-radius: 0px !important; padding: 5px">

            <uib-accordion-group is-open="false" ng-repeat="group in menuGroups | orderBy: 'seqOrder'" class="panel-default" style="border-radius: 0px !important;">

                <uib-accordion-heading style="text-align: center">
                    {{group.title}} <i class="pull-right glyphicon {{group.icon}}"></i>
                </uib-accordion-heading>

                <div class="row" ng-repeat="menu in group.menus" style="margin-top: 1px">

                    <div class="col-md-12">
                        <button type="button" class="btn btn-info btn-block" style="border-radius: 0px !important;" ng-click="showSingleChart(menu)"> {{menu.title}} </button>
                    </div>

                </div>

            </uib-accordion-group>

        </uib-accordion>
    </div>
</div>
