
<div class="row">

    <a class="navbar-brand logo" href="">
        <img class="logo-img" src="content/images/mingrule.png" alt="logo"/>
        <span data-translate="global.title">IntelligentChart</span> <span class="navbar-version">{{VERSION}}</span>
    </a>

</div>

<div class="row">
    <uib-accordion close-others="false">
        <div ng-repeat="group in menuGroups">

            <div uib-accordion-group class="panel-primary" heading="{{group.title}}">
                
            </div>
        </div>

    </uib-accordion>
</div>
<div>
    <!--<li ng-repeat="menu in menus">-->
        <!--<a ng-click="showSingleChart(menu)">-->
            <!--<span class="glyphicon glyphicon-asterisk"></span>&nbsp;-->
            <!--<span>{{menu.title}}</span>-->
        <!--</a>-->
    <!--</li>-->


</div>
