
<div class="row">

    <a class="navbar-brand logo" href="">
        <img class="logo-img" src="content/images/mingrule.png" alt="logo"/>
        <span data-translate="global.title">IntelligentChart</span> <span class="navbar-version">{{VERSION}}</span>
    </a>

</div>

<div class="container-fluid">

    <div class="row">
        <uib-accordion close-others="false">

            <div ng-repeat="group in menuGroups">

                <div uib-accordion-group class="panel-primary" heading="{{group.title}}">
                    <div class="row" ng-repeat="menu in group.menus">

                        <div class="col-md-12">
                            <button type="button" class="btn btn-info btn-block"> {{menu.title}} </button>
                        </div>

                    </div>
                </div>
            </div>

        </uib-accordion>
    </div>
</div>


