<div class="panel">
    <div class="panel-body"><div>
    <h2 data-translate="intelligentChartApp.personEducationBackground.home.title">Person Education Backgrounds</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="person-education-background.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="intelligentChartApp.personEducationBackground.home.createLabel">
                        Create new Person Education Background
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span data-translate="intelligentChartApp.personEducationBackground.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span data-translate="intelligentChartApp.personEducationBackground.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="intelligentChartApp.personEducationBackground.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="educationBackgroundType.name"><span data-translate="intelligentChartApp.personEducationBackground.educationBackgroundType">Education Background Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="person.name"><span data-translate="intelligentChartApp.personEducationBackground.person">Person</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="personEducationBackground in vm.personEducationBackgrounds track by personEducationBackground.id">
                    <td><a ui-sref="person-education-background-detail({id:personEducationBackground.id})">{{personEducationBackground.id}}</a></td>
                        <td>{{personEducationBackground.startDate | date:'mediumDate'}}</td>
                        <td>{{personEducationBackground.endDate | date:'mediumDate'}}</td>
                    <td>{{personEducationBackground.description}}</td>
                    <td>
                        <a ui-sref="education-background-type-detail({id:personEducationBackground.educationBackgroundType.id})">{{personEducationBackground.educationBackgroundType.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="person-detail({id:personEducationBackground.person.id})">{{personEducationBackground.person.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="person-education-background-detail({id:personEducationBackground.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person-education-background.edit({id:personEducationBackground.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person-education-background.delete({id:personEducationBackground.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
</div>
    </div>