<div class="panel">
    <div class="panel-body">
        <div>
            <h2 data-translate="intelligentChartApp.prizeType.home.title">Prize Types</h2>
            <jhi-alert></jhi-alert>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 no-padding-left">
                        <button class="btn btn-primary" ui-sref="prize-type.new">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span data-translate="intelligentChartApp.prizeType.home.createLabel">
                        Create new Prize Type
                    </span>
                        </button>
                    </div>
                </div>
            </div>
            <br/>
            <div class="table-responsive">
                <table class="jh-table table table-striped">
                    <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="identifier"><span data-translate="intelligentChartApp.prizeType.identifier">Identifier</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="name"><span data-translate="intelligentChartApp.prizeType.name">Name</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="prizeType in vm.prizeTypes track by prizeType.id">
                        <td><a ui-sref="prize-type-detail({id:prizeType.id})">{{prizeType.id}}</a></td>
                        <td>{{prizeType.identifier}}</td>
                        <td>{{prizeType.name}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        ui-sref="prize-type-detail({id:prizeType.id})"
                                        class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="prize-type.edit({id:prizeType.id})"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="prize-type.delete({id:prizeType.id})"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                                ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
            </div>
        </div>
    </div>
</div>