<div class="panel">
    <div class="panel-body">
        <h2 data-translate="intelligentChartApp.personWechatArticle.home.title">Person Wechat Articles</h2>
        <jhi-alert></jhi-alert>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
                    <button class="btn btn-primary" ui-sref="person-wechat-article.new" >
                        <span class="glyphicon glyphicon-plus"></span>
                        <span  data-translate="intelligentChartApp.personWechatArticle.home.createLabel">
                        Create new Person Wechat Article
                    </span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="count"><span data-translate="intelligentChartApp.personWechatArticle.count">Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="increadByLastMonth"><span data-translate="intelligentChartApp.personWechatArticle.increadByLastMonth">Incread By Last Month</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createDate"><span data-translate="intelligentChartApp.personWechatArticle.createDate">Create Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="person.name"><span data-translate="intelligentChartApp.personWechatArticle.person">Person</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="personWechatArticle in vm.personWechatArticles track by personWechatArticle.id">
                    <td><a ui-sref="person-wechat-article-detail({id:personWechatArticle.id})">{{personWechatArticle.id}}</a></td>
                    <td>{{personWechatArticle.count}}</td>
                    <td>{{personWechatArticle.increadByLastMonth}}</td>
                    <td>{{personWechatArticle.createDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="person-detail({id:personWechatArticle.person.id})">{{personWechatArticle.person.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="person-wechat-article-detail({id:personWechatArticle.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person-wechat-article.edit({id:personWechatArticle.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person-wechat-article.delete({id:personWechatArticle.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>