
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPersonFanSupportGroupLabel" data-translate="intelligentChartApp.personFanSupportGroup.home.createOrEditLabel">Create or edit a Person Fan Support Group</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.personFanSupportGroup.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.personFanSupportGroup.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.personFanSupportGroup.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.personFanSupportGroup.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.personFanSupportGroup.leader" for="field_leader">Leader</label>
            <input type="text" class="form-control" name="leader" id="field_leader"
                    ng-model="vm.personFanSupportGroup.leader"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="intelligentChartApp.personFanSupportGroup.fansCount" for="field_fansCount">Fans Count</label>
            <input type="number" class="form-control" name="fansCount" id="field_fansCount"
                    ng-model="vm.personFanSupportGroup.fansCount"
                     />
        </div>

        <div class="form-group">
            <label data-translate="intelligentChartApp.personFanSupportGroup.person" for="field_person">Person</label>
            <!--<select class="form-control" id="field_person" name="person" ng-model="vm.personFanSupportGroup.person" ng-options="person as person.name for person in vm.people track by person.id">-->
                <!--<option value=""></option>-->
            <!--</select>-->

            <ui-select ng-model="vm.personFanSupportGroup.person"> 
                <ui-select-match>  {{$select.selected.name}} </ui-select-match>
                 
                <ui-select-choices repeat="item in (vm.people | filter: $select.search) track by item.id">  <span
                        ng-bind="item.name"></span> 
                </ui-select-choices>
                 
            </ui-select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
